.item-container-mixin {
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  float: left;
}
.input-box {
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  float: left;
  width: 280px;
}
.data-box {
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  float: left;
  width: calc(100% - 400px);
  min-width: 300px;
}
.item-box {
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  float: left;
  width: 260px;
}
.item-box .parent-hover {
  display: none;
}
.item-box:hover {
  background-color: #90909090;
}
.item-box:hover .parent-hover {
  display: inline;
}
.control-div {
  width: 260px;
  height: 20px;
}
.validate-error {
  border-color: red;
}
.error-msg {
  color: red;
}
