@errorColor: red;

.item-container-mixin {
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  float: left;
}

.input-box {
  .item-container-mixin;
  width: 280px;
}

.data-box {
  .item-container-mixin;

  width: calc(~'100% - 400px');
  min-width: 300px;
}

.item-box {
  .item-container-mixin;
  width: 260px;

  .parent-hover {
    display: none;
  }

  &:hover {
    background-color: #90909090;

    .parent-hover {
      display: inline
    }
  }
}

.control-div {
  width: 260px;
  height: 20px;
}

.validate-error {
  border-color: @errorColor;
}

.error-msg {
  color: @errorColor;
}